<testcase xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xmlns:ix='http://www.xbrl.org/2008/inlineXBRL' xmlns:ixt='http://www.xbrl.org/inlineXBRL/transformation/2010-04-20' xmlns:link='http://www.xbrl.org/2003/linkbase' xmlns:pt='http://www.xbrl.org/uk/fr/gaap/pt/2004-12-01' xmlns:uk-gcd='http://www.xbrl.org/uk/fr/gcd/2004-12-01' xmlns:xbrli='http://www.xbrl.org/2003/instance' xmlns:xlink='http://www.w3.org/1999/xlink'>
  <head>
    <number>91</number>
    <creator>
      <name>Philip Allen</name>
      <email>plega@corefiling.com</email>
    </creator>
    <description>invalid xbrli attribute on ix:reference</description>
    <requirement>req-ix-references-rule-no-xbrli-attributes</requirement>
  </head>
  <body>
    <input>
      <html version='-//XBRL International//DTD XHTML Inline XBRL 1.0//EN' xmlns='http://www.w3.org/1999/xhtml' xsi:schemaLocation='http://www.w3.org/1999/xhtml ../../../schema/xhtml-inlinexbrl-1_0.xsd'>
        <head>
          <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'></meta>
          <title>Basic Inline XBRL Example</title>
        </head>
        <body>
          <div style='display:none'>
            <ix:header>
              <ix:references xml:lang='en' xbrli:periodType='instant'>
                <link:schemaRef xlink:href='../schemas/ch/pt/2004-12-01/uk-gaap-pt-2004-12-01.xsd' xlink:type='simple'></link:schemaRef>
              </ix:references>
              <ix:resources>
                <xbrli:context id='NNC1'>
                  <xbrli:entity>
                    <xbrli:identifier scheme='test'>Test Co 1</xbrli:identifier>
                  </xbrli:entity>
                  <xbrli:period>
                    <xbrli:instant>2005-12-31</xbrli:instant>
                  </xbrli:period>
                </xbrli:context>
              </ix:resources>
            </ix:header>
          </div>
          <ix:nonNumeric contextRef='NNC1' format='ixt:dateslashdaymontheu' name='uk-gcd:DateMonthDay'>13/08</ix:nonNumeric>
        </body>
      </html>
    </input>
    <transformedOutput>
      <xbrli:xbrl/>
    </transformedOutput>
    <errors>
      <errorCode>InvalidAttributeContent</errorCode>
    </errors>
  </body>
</testcase>
