<testcase
  xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
  xmlns:pt='http://www.xbrl.org/uk/fr/gaap/pt/2004-12-01'
  xmlns:ix='http://www.xbrl.org/2008/inlineXBRL'
  xmlns:link='http://www.xbrl.org/2003/linkbase'
  xmlns:xbrli='http://www.xbrl.org/2003/instance'
  xmlns:xlink='http://www.w3.org/1999/xlink'
  xmlns:iso4217='http://www.xbrl.org/2003/iso4217'
>
  <head>
    <number>26</number>
    <creator><name>Philip Allen</name><email>plega@decisionsoft.com</email></creator>
    <description>Dummy test case</description>
    <requirement>no reference</requirement>
  </head>
  <body>
    <input>
<html
      version="-//XBRL International//DTD XHTML Inline XBRL 1.0//EN"
      xmlns="http://www.w3.org/1999/xhtml" 
      xsi:schemaLocation="http://www.w3.org/1999/xhtml ../../../schema/xhtml-inlinexbrl-1_0.xsd"
      >
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Basic Inline XBRL Example</title>
  </head>
  <body xml:lang="en">
<ix:nonNumeric contextRef="DUR-1" name="pt:DescriptionAddressAssociate">
    <b>

A string of text.

      <ix:exclude>
        <i>

A number. 1,234,456.78

        </i>
      </ix:exclude>

More text&gt;

    </b>
  </ix:nonNumeric>
    <div style="display:none">
      <ix:header>
        <ix:references>
          <link:schemaRef xlink:href="../schemas/ch/pt/2004-12-01/uk-gaap-pt-2004-12-01.xsd" xlink:type="simple"/>
        </ix:references>
        <ix:resources>
          <xbrli:context id="DUR-1">
            <xbrli:entity>
              <xbrli:identifier scheme="test">Test Co 1</xbrli:identifier>
            </xbrli:entity>
            <xbrli:period>
              <xbrli:startDate>2005-12-31</xbrli:startDate>
              <xbrli:endDate>2006-12-31</xbrli:endDate>
            </xbrli:period>
    </xbrli:context>
    <xbrli:context id="NFC1">
            <xbrli:entity>
              <xbrli:identifier scheme="test">Test Co 1</xbrli:identifier>
            </xbrli:entity>
            <xbrli:period>
              <xbrli:startDate>2005-01-01</xbrli:startDate>
              <xbrli:endDate>2005-12-31</xbrli:endDate>
            </xbrli:period>
    </xbrli:context>
          <xbrli:unit id="u1">
            <xbrli:measure>iso4217:GBP</xbrli:measure>
    </xbrli:unit>
    <xbrli:unit id="ID-PURE">
            <xbrli:measure>xbrli:pure</xbrli:measure>
    </xbrli:unit>
    <xbrli:unit id="GBP">
            <xbrli:measure>iso4217:GBP</xbrli:measure>
    </xbrli:unit>
        </ix:resources>
      </ix:header>  
    </div>
  </body>
</html>
    </input>
    <transformedOutput>
<xbrli:xbrl >
   <link:schemaRef
                   xlink:href="../schemas/ch/pt/2004-12-01/uk-gaap-pt-2004-12-01.xsd"
                   xlink:type="simple"/>
      <pt:DescriptionAddressAssociate contextRef="DUR-1">
    

A string of text.

      

More text&gt;

    
  </pt:DescriptionAddressAssociate>
   <xbrli:context
                  id="DUR-1">
            <xbrli:entity>
              <xbrli:identifier scheme="test">Test Co 1</xbrli:identifier>
            </xbrli:entity>
            <xbrli:period>
              <xbrli:startDate>2005-12-31</xbrli:startDate>
              <xbrli:endDate>2006-12-31</xbrli:endDate>
            </xbrli:period>
    </xbrli:context>
   <xbrli:context
                  id="NFC1">
            <xbrli:entity>
              <xbrli:identifier scheme="test">Test Co 1</xbrli:identifier>
            </xbrli:entity>
            <xbrli:period>
              <xbrli:startDate>2005-01-01</xbrli:startDate>
              <xbrli:endDate>2005-12-31</xbrli:endDate>
            </xbrli:period>
    </xbrli:context>
   <xbrli:unit
               id="u1">
            <xbrli:measure>iso4217:GBP</xbrli:measure>
    </xbrli:unit>
   <xbrli:unit
               id="ID-PURE">
            <xbrli:measure>xbrli:pure</xbrli:measure>
    </xbrli:unit>
   <xbrli:unit
               id="GBP">
            <xbrli:measure>iso4217:GBP</xbrli:measure>
    </xbrli:unit>
</xbrli:xbrl>    </transformedOutput>
  </body>
</testcase>
