<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- <add key="ConformanceXml" value="C:\Documents and Settings\Administrator\My Documents\Visual Studio 2005\Projects\Xbrl\JeffFerguson.Test.Xbrl\XBRL-CONF-CR3-2007-03-05\xbrl.xml" /> -->
    <add key="ConformanceXml" value="C:\Projects\gepsio\JeffFerguson.Test.Gepsio\XBRL-CONF-CR3-2007-03-05\xbrl.xml" />
  </appSettings>
</configuration>