<testcase
  xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
  xmlns:ix='http://www.xbrl.org/2008/inlineXBRL'
  xmlns:link='http://www.xbrl.org/2003/linkbase'
  xmlns:xbrli='http://www.xbrl.org/2003/instance'
  xmlns:xlink='http://www.w3.org/1999/xlink'
  xmlns:iso4217='http://www.xbrl.org/2003/iso4217'
  xmlns:pt='http://www.xbrl.org/uk/fr/gaap/pt/2004-12-01'  
>
  <head>
    <number>72</number>
    <creator><name>Philip Allen</name><email>plega@decisionsoft.com</email></creator>
    <description>Dummy test case</description>
    <requirement>no reference</requirement>
  </head>
  <body>
    <input>
<html
      version="-//XBRL International//DTD XHTML Inline XBRL 1.0//EN"
      xmlns="http://www.w3.org/1999/xhtml" 
      xsi:schemaLocation="http://www.w3.org/1999/xhtml ../../../schema/xhtml-inlinexbrl-1_0.xsd"
      >
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Basic Inline XBRL Example</title>
  </head>
  <body xml:lang="en">
<div xmlns:ix="http://www.xbrl.org/2008/inlineXBRL" xmlns:link="http://www.xbrl.org/2003/linkbase" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xbrli="http://www.xbrl.org/2003/instance" style="display:none">
      <ix:header>
        <ix:hidden>
            <ix:footnote xml:lang="en" footnoteID="footnote" footnoteLinkRole="http://www.example.org/roles/footnoteLink">Excluding the effects of the merger and contingent liabilities.</ix:footnote>
        </ix:hidden>
        <ix:references>
          <link:schemaRef xlink:href="../schemas/ch/pt/2004-12-01/uk-gaap-pt-2004-12-01.xsd" xlink:type="simple"/>
        </ix:references>
        <ix:resources>
          <xbrli:context id="NNC1">
            <xbrli:entity>
              <xbrli:identifier scheme="test">Test Co 1</xbrli:identifier>
            </xbrli:entity>
            <xbrli:period>
              <xbrli:instant>2005-12-31</xbrli:instant>
            </xbrli:period>
	  </xbrli:context>
	  <xbrli:context id="NFC1">
            <xbrli:entity>
              <xbrli:identifier scheme="test">Test Co 1</xbrli:identifier>
            </xbrli:entity>
            <xbrli:period>
              <xbrli:startDate>2005-01-01</xbrli:startDate>
              <xbrli:endDate>2005-12-31</xbrli:endDate>
            </xbrli:period>
	  </xbrli:context>
          <xbrli:unit id="u1">
            <xbrli:measure>iso4217:GBP</xbrli:measure>
	  </xbrli:unit>
	  <xbrli:unit id="ID-PURE">
            <xbrli:measure>xbrli:pure</xbrli:measure>
	  </xbrli:unit>
	  <xbrli:unit id="GBP">
            <xbrli:measure>iso4217:GBP</xbrli:measure>
	  </xbrli:unit>
           <link:roleRef xlink:href="../schemas/roles.xsd#footnoteLink" xlink:type="simple" roleURI="http://www.example.org/roles/footnoteLink"/>
        </ix:resources>
      </ix:header>	
        <ix:nonFraction
              id="fact"
              contextRef='NNC1'
              name='pt:NetAssetsLiabilitiesAcquisitionByIndividualBusinessDivision'
              decimals="-2"
              unitRef='GBP'
              footnoteRefs="footnote"
       >
1234.56
      </ix:nonFraction>
    </div>
  </body>
</html>
    </input>
    <transformedOutput>
<xbrli:xbrl >
   <link:schemaRef
                   xlink:href="../schemas/ch/pt/2004-12-01/uk-gaap-pt-2004-12-01.xsd"
                   xlink:type="simple"/>
   <link:roleRef xlink:href="../schemas/roles.xsd#footnoteLink" xlink:type="simple" roleURI="http://www.example.org/roles/footnoteLink"/>
   <xbrli:context
                  id="NNC1">
            <xbrli:entity>
              <xbrli:identifier scheme="test">Test Co 1</xbrli:identifier>
            </xbrli:entity>
            <xbrli:period>
              <xbrli:instant>2005-12-31</xbrli:instant>
            </xbrli:period>
	  </xbrli:context>
   <xbrli:context
                  id="NFC1">
            <xbrli:entity>
              <xbrli:identifier scheme="test">Test Co 1</xbrli:identifier>
            </xbrli:entity>
            <xbrli:period>
              <xbrli:startDate>2005-01-01</xbrli:startDate>
              <xbrli:endDate>2005-12-31</xbrli:endDate>
            </xbrli:period>
	  </xbrli:context>
   <xbrli:unit
               id="u1">
            <xbrli:measure>iso4217:GBP</xbrli:measure>
	  </xbrli:unit>
   <xbrli:unit
               id="ID-PURE">
            <xbrli:measure>xbrli:pure</xbrli:measure>
	  </xbrli:unit>
   <xbrli:unit
               id="GBP">
            <xbrli:measure>iso4217:GBP</xbrli:measure>
	  </xbrli:unit>
	    <pt:NetAssetsLiabilitiesAcquisitionByIndividualBusinessDivision contextRef="NNC1" decimals="-2" id="fact" unitRef="GBP" xmlns:pt="http://www.xbrl.org/uk/fr/gaap/pt/2004-12-01">
1234.56
      </pt:NetAssetsLiabilitiesAcquisitionByIndividualBusinessDivision>
	<link:footnoteLink xlink:role="http://www.example.org/roles/footnoteLink" xlink:type="extended">
	  <link:loc xlink:href="#fact" xlink:label="fact" xlink:type="locator"/>
	  <link:footnoteArc xlink:from="fact" xlink:to="footnote" xlink:arcrole="http://www.xbrl.org/2003/arcrole/fact-footnote" xlink:type="arc"/>
    <link:footnote xlink:role="http://www.xbrl.org/2003/role/footnote" xlink:type="resource" xlink:label="footnote" xml:lang="en">Excluding the effects of the merger and contingent liabilities.</link:footnote>
  </link:footnoteLink>
</xbrli:xbrl>    </transformedOutput>
  </body>
</testcase>
