<testcase
  xmlns:iso4217="http://www.xbrl.org/2003/iso4217"
  xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
  xmlns:ix='http://www.xbrl.org/2008/inlineXBRL'
  xmlns:ixt='http://www.xbrl.org/inlineXBRL/transformation/2010-04-20'
  xmlns:link='http://www.xbrl.org/2003/linkbase'
  xmlns:pt='http://www.xbrl.org/uk/fr/gaap/pt/2004-12-01'
  xmlns:uk-gcd='http://www.xbrl.org/uk/fr/gcd/2004-12-01'
  xmlns:xbrli='http://www.xbrl.org/2003/instance'
  xmlns:xlink='http://www.w3.org/1999/xlink'
>
  <head>
    <number>77</number>
    <creator>
      <name>Ian Stokes-Rees</name>
      <email>ijs@decisionsoft.com</email>
    </creator>
    <description>Basic test for UK "DD Month" recurring dates into xsd:gMonthDay format</description>
    <requirement>sec-ixt-16</requirement>
  </head>
  <body>
    <input>
      <html
        version='-//XBRL International//DTD XHTML Inline XBRL 1.0//EN'
        xmlns='http://www.w3.org/1999/xhtml'
        xsi:schemaLocation='http://www.w3.org/1999/xhtml ../../../schema/xhtml-inlinexbrl-1_0.xsd'
      >
        <head>
          <meta
            content='text/html; charset=UTF-8'
            http-equiv='Content-Type'
          ></meta>
          <title>Basic Inline XBRL Example</title>
        </head>
        <body
          xml:lang='en'
        >
          <div
            style='display:none'
          >
            <ix:header>
              <ix:references>
                <link:schemaRef
                  xlink:href='../schemas/ch/pt/2004-12-01/uk-gaap-pt-2004-12-01.xsd'
                  xlink:type='simple'
                ></link:schemaRef>
              </ix:references>
              <ix:resources>
                <xbrli:context
                  id='NNC1'
                >
                  <xbrli:entity>
                    <xbrli:identifier
                      scheme='test'
                    >Test Co 1</xbrli:identifier>
                  </xbrli:entity>
                  <xbrli:period>
                    <xbrli:instant>2005-12-31</xbrli:instant>
                  </xbrli:period>
                </xbrli:context>
                <xbrli:context
                  id='NFC1'
                >
                  <xbrli:entity>
                    <xbrli:identifier
                      scheme='test'
                    >Test Co 1</xbrli:identifier>
                  </xbrli:entity>
                  <xbrli:period>
                    <xbrli:startDate>2005-01-01</xbrli:startDate>
                    <xbrli:endDate>2005-12-31</xbrli:endDate>
                  </xbrli:period>
                </xbrli:context>
                <xbrli:unit
                  id='u1'
                >
                  <xbrli:measure>iso4217:GBP</xbrli:measure>
                </xbrli:unit>
                <xbrli:unit
                  id='ID-PURE'
                >
                  <xbrli:measure>xbrli:pure</xbrli:measure>
                </xbrli:unit>
                <xbrli:unit
                  id='GBP'
                >
                  <xbrli:measure>iso4217:GBP</xbrli:measure>
                </xbrli:unit>
              </ix:resources>
            </ix:header>
          </div>
          <ix:nonNumeric
            contextRef='NNC1'
            format='ixt:datelongdaymonthuk'
            name='uk-gcd:DateMonthDay'
          >13 August</ix:nonNumeric>
        </body>
      </html>
    </input>
    <transformedOutput>
      <xbrli:xbrl>
        <link:schemaRef
          xmlns='http://www.w3.org/1999/xhtml'
          xlink:href='../schemas/ch/pt/2004-12-01/uk-gaap-pt-2004-12-01.xsd'
          xlink:type='simple'
        ></link:schemaRef>
        <uk-gcd:DateMonthDay
          contextRef='NNC1'
        >--08-13</uk-gcd:DateMonthDay>
        <xbrli:context
          id='NNC1'
          xmlns='http://www.w3.org/1999/xhtml'
        >
          <xbrli:entity>
            <xbrli:identifier
              scheme='test'
            >Test Co 1</xbrli:identifier>
          </xbrli:entity>
          <xbrli:period>
            <xbrli:instant>2005-12-31</xbrli:instant>
          </xbrli:period>
        </xbrli:context>
        <xbrli:context
          id='NFC1'
          xmlns='http://www.w3.org/1999/xhtml'
        >
          <xbrli:entity>
            <xbrli:identifier
              scheme='test'
            >Test Co 1</xbrli:identifier>
          </xbrli:entity>
          <xbrli:period>
            <xbrli:startDate>2005-01-01</xbrli:startDate>
            <xbrli:endDate>2005-12-31</xbrli:endDate>
          </xbrli:period>
        </xbrli:context>
        <xbrli:unit
          id='u1'
          xmlns='http://www.w3.org/1999/xhtml'
        >
          <xbrli:measure>iso4217:GBP</xbrli:measure>
        </xbrli:unit>
        <xbrli:unit
          id='ID-PURE'
          xmlns='http://www.w3.org/1999/xhtml'
        >
          <xbrli:measure>xbrli:pure</xbrli:measure>
        </xbrli:unit>
        <xbrli:unit
          id='GBP'
          xmlns='http://www.w3.org/1999/xhtml'
        >
          <xbrli:measure>iso4217:GBP</xbrli:measure>
        </xbrli:unit>
      </xbrli:xbrl>
    </transformedOutput>
  </body>
</testcase>
